<main>
  <section class="text-center container" style="background: #47D1FF">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h2>
            LifeBook
          </h2>
        <h1 class="fw-light"> Join Today</h1>
        <p class="lead text-body-secondary">
          Discover the extraordinary in every moment!
          Join our dynamic community to share thrilling adventures and the simple joys of daily life through captivating photos.
          Your story awaits on our vibrant platform.
        </p>
        <p>
          <% unless current_user %>
            <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary my-2 dropdown-item" %>
            <%= link_to 'Register', new_user_registration_path, class: "btn btn-secondary my-2 dropdown-item" %>
          <% end %>
        </p>
      </div>
    </div>
  </section>

  <hr class="featurette-divider">

  <div class="container marketing">

    <div class="px-sm-4 row">

      <%= render partial: 'users/medium', locals: { user: @users[0] } %>

      <%= render partial: 'users/medium', locals: { user: @users[1] } %>

      <%= render partial: 'users/medium', locals: { user: @users[2] } %>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Firstly we've got people here. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Join our vibrant community, where the extraordinary is celebrated, and every picture is a portal to a world of excitement waiting to be shared.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag @pictures.first.picture.representation(resize_to_limit: [500, 500]) %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Secondly it's so fun here. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Embark on a visual journey like never before at our exhilarating website, where every click unveils a kaleidoscope of thrilling adventures and daily moments that captivate the soul.
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag @pictures.second.picture.representation(resize_to_limit: [500, 500]) %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, it's free. <span class="text-body-secondary">Seriously.</span></h2>
        <p class="lead">Immerse yourself in a tapestry of vivid images, each telling a unique story of exploration and joy, turning ordinary snapshots into extraordinary tales. </p>
      </div>
      <div class="col-md-5">
        <%= image_tag @pictures.third.picture.representation(resize_to_limit: [500, 500]) %>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>

</main>