<%= turbo_frame_tag "comment-#{comment.id}", class: "ms-2 me-auto" do %>
  <div class="col">
    <ul class="list-group text-start">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <%= render partial: 'users/avatar', locals: { avatar: author.avatar, size: 48 } %>
        <div class="ms-2 me-auto">
          <div>
            <%= link_to author.full_name, profile_path(author), class: 'fw-bold', target: '_top' %>
            <%= formatted_comment_time(comment) %>
            <% if author == current_user %>
              <%= link_to 'Edit', edit_comment_path(comment), class: 'fw-bold' %>
              <%= link_to 'Delete', comment_path(comment), class: 'fw-bold',
                          data: { turbo_method: 'delete', turbo_confirm: 'Really?' } %>
            <% end %>
            <%= render partial: 'likes/likes_for_likeable', locals: { likeable: comment } %>
          </div>
          <p><%= comment.body %></p>
        </div>
      </li>
    </ul>
  </div>
<% end %>