<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentsModal-<%= post.id %>">
  <%= "Show comments! (#{post.comments.count})" %>
</button>

<div class="modal fade" id="commentsModal-<%= post.id %>" tabindex="-1" aria-labelledby="commentsModalLabel<%= post.id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentsModalLabel<%= post.id %>">Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= render partial: 'comments/comments', locals: { post: post } %>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
