<!-- Modal -->
<div class="modal fade" id="commentsModal-<%= post.id %>" tabindex="-1" aria-labelledby="commentsModalLabel<%= post.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentsModalLabel<%= post.id %>">Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="post-comments-<%= post.id %>">

          <% if current_user %>
            <%= render partial: 'comments/new_comment', locals: { post: post, comment: comments.new } %>
          <% end %>

          <% if comments.any? %>
            <% per_page ||= 3 %>
            <div class="pagination justify-content-center">
              <%= link_to_previous_page comments, 'Newer comments', params: { controller: :comments, action: :index, post_id: post.id, per_page: per_page }, remote: true, class: 'page-link' %>
              <%= link_to_next_page comments, 'Older comments', params: { controller: :comments, action: :index, post_id: post.id, per_page: per_page }, remote: true, class: 'page-link' %>
            </div>
            <% comments.each do |com| %>
              <%= render partial: 'comments/comment', locals: { comment: com, author: com.user } %>
            <% end %>
          <% else %>
            <div class="justify-content-center">
              <br />
              <h1> No comments here! </h1>
            </div>
          <% end %>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>