<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentsModal-<%= post.id %>">
  <%= "Show comments! (#{post.comments.count})" %>
</button>

<div class="modal fade" id="commentsModal-<%= post.id %>" tabindex="-1" aria-labelledby="commentsModalLabel<%= post.id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentsModalLabel<%= post.id %>">Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <% if current_user %>
          <%= render partial: 'comments/new_comment', locals: { post: post, comment: post.comments.new } %>
        <% end %>

        <%= turbo_frame_tag([:turbo_comments_container, post.id], class: "", target: "_top") do %>
          <%= turbo_frame_tag([:comments, "1_#{post.id}"], class: "", target:"_top",
                              src: comments_path(post_id: post.id), loading: 'lazy')  do %>
          <% end %>
        <% end %>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
