<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <% if user.avatar.representable? %>
        <%= image_tag user.avatar.variant(:thumb), class: "avatar" %>
      <% else %>
        <svg class="bd-placeholder-img rounded-circle" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <% end %>
      <h1 class="fw-light">
        <%= user.full_name %>
        <% if current_user != user %>
          <%= render partial: 'contacts/observe', locals: { user: user } %>
          <%= link_to direct_chat_path(user_id: user.id), data: { turbo_stream: true }, id: "direct-message-#{user.id}", class: 'link-body-emphasis text-decoration-none' do %>
            <%= render 'shared/envelope_empty', size: 24 %>
          <% end %>
        <% end %>
      </h1>
      <p class="lead text-body-secondary"><%= user.description %></p>
      <p>
        <% if current_user != user %>
          <a href="#" class="btn btn-primary my-2">Button for later</a>
          <a href="#" class="btn btn-secondary my-2">Second button for later</a>
        <% end %>
      </p>
    </div>
  </div>
</section>
