<div class="list-group-item list-group-item-action d-flex gap-3 py-2">
  <%= render partial: 'users/avatar', locals: { avatar: user.avatar, size: 50 } %>
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0">
        <%= link_to profile_path(user), class: 'link-body-emphasis text-decoration-none', target: '_top' do %>
          <%= user.full_name %>
        <% end %>
      </h6>
      <p class="mb-0 opacity-75">
        <% # chat message placeholder %>
      </p>
    </div>
  </div>
  <small class="opacity-50 text-nowrap">
    <%= link_to direct_chat_path(user_id: user.id), data: { turbo_stream: true }, class: 'link-body-emphasis text-decoration-none' do %>
      <%= render 'shared/envelope_empty' %>
    <% end %>
  </small>
</div>
