<%= turbo_stream.update 'turbo-chat-header' do %>
  <%= link_to chats_path, data: { turbo_stream: true }, class: 'link-body-emphasis text-decoration-none' do %>
    <span class="fs-5 fw-semibold"><%= "Chat with #{(@chat.users.to_a-[current_user]).first.full_name}" %></span>
  <% end %>
<% end %>
<%= turbo_stream.update 'turbo-chat-inside' do %>
  <% if @messages && @messages.any? %>
    <%= render @messages %>
  <% end %>
  <%= form_with url: send_message_path(chat_id: @chat.id), id: 'turbo-chat-message-field', html: { style: 'position: fixed; bottom: 0' }, local: false do |f| %>
    <%= f.text_field :content, class: 'form-control', autocomplete: 'off', style: 'width:300px; display: inline-block' %>
    <%= f.submit 'Send', class: 'btn btn-primary' %>
  <% end %>
<% end %>
