<div class="py-4 d-flex align-items-center flex-column col text-center">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= story.title %></h5>
      <p class="card-text"><%= story.description %></p>
      <% if author != current_user %>
        <%=  story.posts.count %>
        <p><%= link_to author.full_name, profile_path(author), target:"_top" %></p>
      <% end %>
      <p><%= link_to "See story", story_path(story), class: "btn btn-primary", target:"_top" %></p>
    </div>
  </div>
</div>