<h2 class="text-center">New Story</h2>

<%= form_with model: @story do |f| %>

  <div class="mb-3">
    <i>Story title:</i>
    <%= f.text_field :title, value: @story.title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <i>Story description:</i>
    <%= f.text_area :description, value: @story.description, class: "form-control" %>
  </div>

  <div class="d-flex gap-2 justify-content-center py-5">
    <%= turbo_frame_tag 'tags-in-form' %>
  </div>

  <div class="actions col-auto text-center">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render partial: 'tags/search_tag_form' %>
