<h2 class="text-center">New Story</h2>

<%= form_with model: @story do |f| %>

  <div class="mb-3">
    <i>Story title:</i>
    <%= f.text_field :title, value: @story.title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <i>Story description:</i>
    <%= f.text_area :description, value: @story.description, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">#</span>
    <%= f.text_field 'ewf', value: @story.description, class: "form-control", placeholder: "Tag 1", aria_label: 'Tag 1' %>
    <span class="input-group-text">#</span>
    <%= f.text_field 'ewf', value: @story.description, class: "form-control", placeholder: "Tag 2", aria_label: 'Tag 2'  %>
    <span class="input-group-text">#</span>
    <%= f.text_field 'ewf', value: @story.description, class: "form-control", placeholder: "Tag 3", aria_label: 'Tag 3'  %>
    <span class="input-group-text">#</span>
    <%= f.text_field 'ewf', value: @story.description, class: "form-control", placeholder: "Tag 4", aria_label: 'Tag 4' %>
  </div>

  <div class="actions col-auto text-center">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>