<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis"><%= @story.title %></h1>
    <p class="lead">
      <%= @story.description %>
    </p>
    <h3>By:</h3>
    <p>
      <%= render partial: 'users/small', locals: { user: @story.user } %>
    </p>
    <% if current_user == @story.user %>
      <%= link_to 'Edit story', edit_story_path, class: "btn btn-primary my-2"  %>
    <% end %>
    <% if current_user == @story.user %>
      <%= link_to 'Add post to story', new_post_path(post: {story_ids: [@story]}, story_to_redirect: @story), class: "btn btn-primary my-2"  %>
    <% end %>
  </div>
</div>

<%= render partial: 'stories/timeline', locals: { story: @story } %>