<%= turbo_frame_tag "tag-in-form-#{tag.name}" do %>
  <input type="hidden" value="<%= tag.id %>" name="tag_ids[]" >
  <div class="btn btn-info rounded-pill px-3">
    <%= tag.name %>
    <a onclick="document.getElementById('tag-in-form-<%=tag.name%>').remove()" style="margin-top: -4px; margin-right: -9px">
      <%= render 'shared/x' %>
    </a>
  </div>
<% end %>
