<%= turbo_stream.replace 'tags-list' do %>
  <%= turbo_frame_tag 'tags-list' do %>
    <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">
      <%= form_with url: search_tags_url, method: :post, data: { controller: 'debounce', debounce_target: 'form' }, class: 'p-2 mb-2 bg-body-tertiary border-bottom' do |f| %>
        <% f.text_field :tag_name, value: params[:tag_name], class: "form-control", data: { action: "input->debounce#search" }, placeholder: "Type to pick tags", autocomplete: 'off' %>
      <% end %>
      <ul class="list-unstyled mb-0">
        <% @tags.each do |tag| %>
          <li>
            <%= link_to(add_tag_to_thing_path(name: tag.name), data: { turbo_method: 'post' }, class: "dropdown-item d-flex align-items-center gap-2 py-2") do %>
              <span class="d-inline-block bg-success rounded-circle p-1 m-1"></span>
              <%= tag.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
