<% edit_form ||= false %>
<% title = edit_form ? 'Edit Post' : 'New Post' %>
<% button_name = edit_form ? 'Update' : 'Create' %>
<h2 class="text-center py-4"><%= title %></h2>

<%= form_with model: post do |f| %>
  <div class="mb-3">
    <i>Leave empty if you don't want to change it</i>
    <%= f.file_field :picture, class: "form-control form-control-lg", id: "formFileLg" %>
  </div>

  <div class="form-floating mb-3">
    <i>Post description</i>
    <%= f.text_area :body, value: post.body, class: "form-control" %>
  </div>

  <div class="list-group">
    <i>Connected stories:</i>
    <div class="list-group" style="overflow-y: scroll; max-height: 300px">
      <%= f.collection_check_boxes :story_ids, current_user.stories, :id, :title do |b|%>
        <%= b.label(class: 'list-group-item d-flex gap-2') {
          b.check_box(class: 'form-check-input flex-shrink-0') + b.text  } %>
      <% end %>
    </div>
  </div><br />

  <%= render partial: 'tags/form_tags', locals: { tags: post.tags } %>

  <%= f.hidden_field 'story_to_redirect', value: story_to_redirect %>
  <div class="actions col-auto text-center">
    <%= f.submit button_name, class: "btn btn-primary w-50" %>
  </div>
<% end %>

<%= render partial: 'tags/search_tag_form' %>
