<div id="post-list" class="container">
  <%= turbo_frame_tag 'turbo-posts', target: "_top" do %>
    <% if posts.any? %>
      <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h2><%= "#{author.full_name} posts:" %></h2>
      </div>
      <div id="post-pagination" class="py-lg-5 col-lg-6 col-md-8 mx-auto text-center">
        <%== pagy_bootstrap_nav @pagy_posts, link_extra: 'data-turbo-frame="_self"' %>
      </div>
      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 justify-content-md-center">
        <% posts.each do |post| %>
          <%= render partial: 'posts/post', locals: { author: author, post: post } %>
        <% end %>
      </div>
    <% else %>
      <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h2><%= "#{author.full_name} has no posts" %></h2>
      </div>
      <div class="py-lg-4 col-lg-6 col-md-8 mx-auto">
        <div class="text-center">
          <h2 class="h3 mb-3 fw-normal">No posts here!</h2>
          <% if current_user == author %>
            <%= link_to "Make a new post", new_post_path, class: "btn btn-primary my-2" %>
          <% end %>
        </div><br />
      </div>
    <% end %>
  <% end %>
</div>

