<div class="py-4 d-flex align-items-center flex-column col text-center">
  <div id="post-<%= post.id %>" class="card post-buttons-parent" style="width: 18rem; min-height: 8rem">
    <%= render partial: 'posts/buttons', locals: { post: post } %>
    <% if post.picture.representable? %>
      <%= image_tag post.picture.representation(resize_to_fill: [286, 180]), style: "height: 180px"%>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <% if author != current_user %>
        <%= link_to author.full_name, profile_path(author) %>
      <% end %>
    </div>
    <div id="post-comments-<%= post.id %>">
      <%= render partial: 'comments/comments', locals: { post: post, comments: post.latest_comments } %>
    </div>
  </div>
</div>