<div id="post-list" class="container">
  <%= render partial: 'users/big', locals: { user: @user } %>

  <hr class="featurette-divider">
  <% if current_user == @user %>
    <div class="d-flex justify-content-center">
      <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-primary', style: 'width: 50%' %>
    </div><br />
    <div class="d-flex justify-content-center">
      <%= link_to 'Delete post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'width: 50%' %>
    </div><br />
  <% end %>

  <div class="col">
    <div id="post-<%= @post.id %>" class="card post-buttons-parent">
      <% if @post.picture.representable? %>
        <%= image_tag @post.picture %>
      <% end %>
      <div class="card-body">
        <p class="card-text"><%= @post.body %></p>
        <% if @user != current_user %>
          <%= link_to @user.full_name, profile_path(@user) %>
        <% end %>
        <div class="text-center">
          <%= render partial: 'likes/likes_for_likeable', locals: { likeable: @post } %>
        </div>
      </div>

      <%= render partial: 'comments/comments', locals: { post: @post } %>
    </div>
  </div>

  <hr class="featurette-divider">

  <%= render partial: 'stories/stories', locals: { author: @post.user, in_post_view: true } %>

</div>
