<div id="post-list" class="container">
  <%= render partial: 'users/big', locals: { user: @user } %>

  <hr class="featurette-divider">
  <% if current_user == @user %>
    <div class="d-flex justify-content-center">
      <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-primary', style: 'width: 50%' %>
    </div><br />
    <div class="d-flex justify-content-center">
      <%= link_to 'Delete post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'width: 50%' %>
    </div><br />
  <% end %>

  <div class="col">
    <div id="post-<%= @post.id %>" class="card post-buttons-parent">
      <% if @post.picture.representable? %>
        <%= image_tag @post.picture %>
      <% end %>
      <div class="card-body">
        <p class="card-text"><%= @post.body %></p>
        <% if @user != current_user %>
          <%= link_to @user.full_name, profile_path(@user) %>
        <% end %>
      </div>

      <div id="post-comments-<%= @post.id %>">
        <%= render partial: 'comments/comments', locals: { post: @post, comments: @post.latest_comments(12), per_page: 12 } %>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="story-list" class="container">
    <% if @stories.any? %>
      <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h2>Connected stories:</h2>
      </div>
      <div id="story-pagination" class="py-lg-5 col-lg-6 col-md-8 mx-auto text-center">
        <%= paginate @stories, params: { controller: :stories, action: :user_stories, user_id: @user.id }, window: 2, remote: true %>
      </div>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 justify-content-md-center">
        <% @stories.each do |story| %>
          <%= render partial: 'stories/story', locals: { author: @user, story: story } %>
        <% end %>
      </div>
    <% else %>
      <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h2>No connected stories!</h2>
      </div>
    <% end %>
  </div>

</div>