<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div id='flashes'>
      <%= render 'shared/flashes' %>
    </div>

    <% if current_user %>
      <%= render 'contacts/side_panel' %>
    <% end %>

    <div id="main-body" class=" container text-break justify-content-md-center">
      <%= yield %>
    </div>

    <% if current_user %>
      <%= turbo_frame_tag 'turbo-chat-container', style: 'position:fixed; right: 0; bottom: 0;' %>
    <% end %>

    <%= render 'layouts/footer' %>

  </body>
</html>
