<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div id='flashes'>
      <%= render 'shared/flashes' %>
    </div>

    <div id="side-panel" class="float-start col-md-12 col-lg-2" style="height:300px; overflow-y: scroll">
      <%= render 'contacts/side_panel' %>
    </div>
    <div id="main-body" class=" container text-break justify-content-md-center">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
